services:
  zfinance_frontend:
    image: zambondev/zfinance-frontend:latest
    hostname: zfinance
    ports:
      - "2020:80"
    depends_on:
      - zfinance_webapi
    environment:
      BACKEND_HOST: zfinance_webapi
      BACKEND_PORT: 8080

  zfinance_webapi:
    image: zambondev/zfinance-webapi:latest
    hostname: zfinance_webapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver; Database=ZFinance; User Id=ZFinance; Password=myfinance; TrustServerCertificate=True;
      - JWT__Key=2HERTFd+fgU*Lc3jWD5Bw7hpAhAF9ZFgc8QqCzPoT
      - Sentry__Dsn=
